<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
{{#domain_page}}
    <title>Domain Default page</title>
{{/domain_page}}
{{^domain_page}}
    <title>Web Server's Default Page</title>
{{/domain_page}}
    <meta name="copyright" content="Copyright 1999-2020. Plesk International GmbH. All rights reserved.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="preload" href="fonts/lato-v16-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <style type="text/css">
        {{&styles}}
    </style>
</head>
<body>
    <div class="page">
    <header class="header">
        <div class="header__inner">
            <div class="header__content">
                <a class="header__logo" href="https://www.plesk.com" target="_blank" data-id="logo-link">
                    <img src="img/logo.svg" width="98" height="41" alt="Plesk">
                </a>
{{#domain_page}}
                <h1 class="header__title">
                    This is a default webpage generated for<br>
                    <a href="{{domain_link}}" data-id="domain-link">{{domain_name}}</a>
                    by Plesk.
                </h1>
                <div class="header__message">
                    <p>If you are the website owner:</p>
                    <ul>
                        <li>Log in to Plesk to manage the website and its availability.</li>
                        <li>Use File Manager to add the website's content.</li>
                    </ul>
                    <p>Unable to manage your website? Contact your service provider.</p>
                </div>
{{/domain_page}}
{{^domain_page}}
                <h1 class="header__title">Web Server's Default Page</h1>
                <p class="header__message">
                    This page is generated by <a href="https://www.plesk.com" target="_blank" rel="nofollow noopener noreferrer" data-id="server-link">Plesk</a>,
                    the leading hosting automation software.<br>
                    You see this page because there is no Web site at this address.
                </p>
{{/domain_page}}
{{#plesk_login}}
                <div class="note">
                    <div class="note__message">
                        <div>Log in to Plesk to create websites and set up hosting.</div>
                        <a class="note__link" href="https://support.plesk.com/hc/en-us/articles/213413369-How-to-log-in-to-Plesk-" target="_blank" rel="nofollow noopener noreferrer" data-id="howtologin">
                            <img class="note__icon" src="img/question-mark-circle.svg" alt="">
                            New to Plesk? Learn how to log in and start working with it.
                        </a>
                    </div>
                    <a class="note__button" href="{{plesk_login}}" data-id="plesk-login">Log in to Plesk</a>
                </div>
{{/plesk_login}}
            </div>
        </div>
    </header>
    <main class="content">
        <div class="content__inner">
            <div class="columns">
                <div class="columns__column">
                    <h2 class="content__title">What is Plesk</h2>
                    <p><b><a href="https://www.plesk.com" target="_blank" rel="nofollow noopener noreferrer" data-id="content-plesk-link">Plesk</a></b> is a hosting
                        <a href="https://www.plesk.com/blog/business-industry/whats-control-panel-all-you-need-to-know/" target="_blank" rel="nofollow noopener noreferrer" data-id="content-control-panel-link">control panel</a>
                        with simple and secure web server, website and web apps management tools. It is specially designed to help web professionals manage web,
                        DNS, mail and other services through a comprehensive and user-friendly GUI. Plesk is about intelligently managing servers, apps,
                        websites and hosting businesses, on both traditional and cloud hosting.</p>
                    <a class="icon-button" href="https://docs.plesk.com/try-plesk-now/" target="_blank" rel="nofollow noopener noreferrer" data-id="try-plesk">
                        <img class="icon-button__icon" src="img/try-online-demo.svg" alt="Try Online Demo">
                        <span>Try Online Demo</span>
                    </a>
                </div>
                <div class="columns__column">
                    <ul class="resources-list">
                        <li class="resources-list__item">
                            <a class="plesk-guides" href="https://docs.plesk.com/en-US/obsidian/" target="_blank" rel="nofollow noopener noreferrer" data-id="plesk-guides">
                                <img class="icon" src="img/plesk-guides.svg" alt="Plesk Guides">
                                <span>Plesk Guides</span>
                            </a>
                        </li>
                        <li class="resources-list__item">
                            <a href="https://support.plesk.com/hc/en-us" target="_blank" rel="nofollow noopener noreferrer" data-id="knowledge-base">
                                <img class="icon" src="img/knowlede-base.svg" alt="Knowledge Base">
                                <span>Knowledge Base</span>
                            </a>
                        </li>
                        <li class="resources-list__item">
                            <a href="https://talk.plesk.com/" target="_blank" data-id="forum">
                                <img class="icon" src="img/forum.svg" alt="Forum">
                                <span>Forum</span>
                            </a>
                        </li>
                        <li class="resources-list__item">
                            <a href="https://www.plesk.com/blog/" target="_blank" rel="nofollow noopener noreferrer" data-id="developer-blog">
                                <img class="icon" src="img/developers-blog.svg" alt="Developer Blog">
                                <span>Developer Blog</span>
                            </a>
                        </li>
                        <li class="resources-list__item">
                            <a href="https://www.youtube.com/channel/UCeU-_6YHGQFcVSHLbEXLNlA/playlists" target="_blank" rel="nofollow noopener noreferrer" data-id="video-guides">
                                <img class="icon" src="img/video-guides.svg" alt="Video Guides">
                                <span>Video Guides</span>
                            </a>
                        </li>
                        <li class="resources-list__item">
                            <a href="https://www.facebook.com/Plesk" target="_blank" rel="nofollow noopener noreferrer" data-id="facebook">
                                <img class="icon" src="img/facebook.svg" alt="Facebook">
                                <span>Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__inner">
            This page was generated by Plesk. Plesk is the leading WebOps platform to run, automate and grow applications, websites and hosting businesses.
            Learn more at <a href="https://www.plesk.com" target="_blank" rel="nofollow noopener noreferrer" data-id="footer-plesk-link">plesk.com</a>
        </div>
    </footer>
    <script src="{{public_path}}bundle.js"></script>
    </div>
</body>
</html>
