/* Copyright 1999-2024. WebPros International GmbH. All rights reserved. */

@font-face {
    font-family: "Inter";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-v12-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-v12-latin-700.woff2") format("woff2");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-block-size: 100vh;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    min-block-size: 100vh;
    margin: 0;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    line-height: 1.6;
    background: #19191f url("img/stars.svg") 50% 28px no-repeat;
    background-size: 1760px 852px;
    background-attachment: fixed;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    max-inline-size: 100%;
    padding-inline: 24px;
}

@media (min-width: 768px) {
    .page {
        overflow: hidden;
    }

    .page::after {
        content: "";
        position: absolute;
        inset-block-start: -20px;
        inset-inline-end: -178px;
        inline-size: 30vw;
        block-size: 686px;
        background: url("img/robot.svg") 0 0 no-repeat;
        background-size: contain;
        transform: rotate(-17deg);
        z-index: -1;
    }
}

a {
    color: #39b6e8;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.25s ease-in-out;
}

a:active,
a:hover {
    outline: none;
}

a:hover {
    color: #78d6fc;
}

p,
ul {
    margin-block: 0 0.5rem;
}

.header__inner,
.content__inner,
.footer__inner {
    max-inline-size: 1220px;
    margin: auto;
}

.header__content {
    display: grid;
    padding-block: 2rem;
}

.header__logo {
    justify-self: center;
}

@media (min-width: 768px) {
    .header__logo {
        justify-self: start;
    }
}

.header__title,
.header__message,
.note {
    max-inline-size: 900px;
    margin: auto;
}

.header__title {
    margin-block: 0.5rem 1.5rem;
    font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
    line-height: 1.2;
    text-align: center;
}

.header__message {
    margin-block-end: 1.5rem;
}

.note,
p.header__message {
    text-align: center;
}

.note__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-inline-size: 1220px;
    margin-block: 2rem;
}

.note__item {
    background: rgba(31, 158, 207, 0.6);
    border-radius: 0.5rem;
    padding: 1rem 1.75rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    max-width: 900px;
    margin: 0 auto;
    flex: 1;
}

@media (min-width: 960px) {
    .note__container {
        flex-direction: row;
    }
}

.note__message-lead {
    font-size: clamp(1.5rem, 1.3rem + 1vw, 1.75rem);
    line-height: 1.2;
}

.note__link {
    font-weight: 700;
}

.note__button {
    display: inline-block;
    margin-block-start: 1.25rem;
    padding-block: clamp(0.75rem, 0.393rem + 0.952vw, 1.25rem);
    padding-inline: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);
    border-radius: 4px;
    font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
    font-weight: 700;
    line-height: 1;
    color: rgba(255, 255, 255, 0.9);
    background-color: #39b6e8;
    white-space: nowrap;
}

.note__button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #1f9ecf;
}

@media (max-width: 769px) {
    .header__title br {
        display: none;
    }
}

.content {
    display: block;
    flex: auto;
}

.content__title {
    margin-block: 0 1rem;
    font-size: clamp(1.5rem, 1.321rem + 0.476vw, 1.75rem);
    font-weight: 400;
    line-height: 1.2;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0 1rem;
}

@media (min-width: 390px) {
    .columns {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}

.resources-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 1.5rem 0.5rem;
    margin-block-start: 3.4rem;
    padding: 0;
    list-style: none;
}

@media (min-width: 960px) {
    .resources-list {
        margin-inline-start: auto;
        max-inline-size: 32rem;
    }
}

.resources-list__item {
    text-align: center;
}

.resources-list__icon {
    display: block;
    margin-inline: auto;
    margin-block-end: 0.25rem;
    inline-size: 40px;
    block-size: 40px;
    padding: 10px;
    transition: 0.3s;
    background-color: #b6e7f9;
    border-radius: 12px;
}

.resources-list__icon svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.resources-list__item > a:hover .resources-list__icon {
    background-color: #1f9ecf;
    color: #fff;
}

.content__button {
    display: inline-block;
    margin-block-start: 1.25rem;
    padding-block: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    padding-inline: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    border-radius: 4px;
    font-size: clamp(1rem, 0.732rem + 0.714vw, 1.375rem);
    font-weight: 700;
    line-height: 1;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #39b6e8;
    white-space: nowrap;
}

.content__button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #1f9ecf;
    border-color: #39b6e8;
}

.footer {
    flex: none;
    font-size: 0.75rem;
    line-height: 1.4;
    color: #adb4c2;
}

.footer a {
    color: #adb4c2;
    text-decoration: none;
    font-weight: 700;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer__inner {
    margin-block-start: 2rem;
    padding-block: 1.5rem;
    text-align: center;
}
